.form,
.field {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
}

.form input[type="text"],
.form select {
    padding: 1rem;
    background-color: transparent;
    border: .3rem solid var(--white);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 1rem;
}

.form option {
    background-color: transparent;
    color: black;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 1rem;
    cursor: pointer;
}

.form input[type="text"]::placeholder {
    color: rgb(139, 139, 139)
}

.form label {
    margin-right: 12px;
}

.form button:hover {
    margin-right: 12px;
}

.submit {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem;
}

.submit:hover {
    background-color: #007468;
    transition: 300ms;
    font-weight: 700;
}