:root {

  --white: #fff;
  --primary: #00b3a4;

}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  /* background-image: url('/bg_clima.webp'); */
  background: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url('/bg_clima.webp');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  font-size: 2rem;
}